Lista de reproduccion/main.exe
Lista de reproduccion/prueba gotoxy.exe
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
prueba musica 3.exe
prueba musica 3.o
Lista de reproduccion/main.o
Lista de reproduccion/main.exe
concatenar strings.exe
.gitignore
.vscode/settings.json
concatenar strings.o
